In [42]:
import pandas as pd

In [43]:
df = pd.read_csv(r'C:\Users\mk744\Downloads\Data Structure in Python\Admitad_xocoupon_Jan_to_May_2024.csv')

In [44]:
df.head()

,Unnamed: 0,index,id_x,order_id,tariff_id_x,action_id,advcampaign_id,advcampaign_name,website_name,click_user_ip,...,payment_y.2,rate.2,rate_id.2,percentage.2,product_url.2,product_id.2,product_image.2,product_name.2,product_category_id.2,product_category_name.2
0,0,0,1054724026,3.03576E+15,16193,1054724026,6115,AliExpress WW,Real Pricetracker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1054724004,3.03565E+15,16193,1054724004,6115,AliExpress WW,Real Pricetracker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,1054721725,8.18919E+15,16193,1054721725,6115,AliExpress WW,Real Pricetracker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,1054696607,3.03572E+15,16193,1054696607,6115,AliExpress WW,Real Pricetracker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,1054500157,FN3441503626_467262531004,6420,1054500157,15591,Ajio [CPS] IN,xocoupon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.columns

Index(['Unnamed: 0', 'index', 'id_x', 'order_id', 'tariff_id_x', 'action_id',
       'advcampaign_id', 'advcampaign_name', 'website_name', 'click_user_ip',
       'click_user_referer', 'click_country_code', 'conversion_time', 'action',
       'action_type', 'cart', 'status', 'processed', 'subid', 'subid1',
       'subid2', 'subid3', 'subid4', 'payment_x', 'currency', 'keyword',
       'comment', 'paid', 'promocode', 'click_date', 'action_date',
       'closing_date', 'status_updated', 'id_y', 'tariff_id_y', 'datetime',
       'amount', 'payment_y', 'rate', 'rate_id', 'percentage', 'product_url',
       'product_id', 'product_image', 'product_name', 'product_category_id',
       'product_category_name', 'id_y.1', 'tariff_id_y.1', 'datetime.1',
       'amount.1', 'payment_y.1', 'rate.1', 'rate_id.1', 'percentage.1',
       'product_url.1', 'product_id.1', 'product_image.1', 'product_name.1',
       'product_category_id.1', 'product_category_name.1', 'id_y.2',
       'tariff_id_y.2', 'datetime.2', 'amount.2', 'payment_y.2', 'rate.2',
       'rate_id.2', 'percentage.2', 'product_url.2', 'product_id.2',
       'product_image.2', 'product_name.2', 'product_category_id.2',
       'product_category_name.2'],
      dtype='object')

In [46]:
select_cols = df[['advcampaign_name','id_x','status','datetime',
                  'amount','payment_y','currency','subid'
                  ]]

In [47]:
select_cols.head()

,advcampaign_name,id_x,status,datetime,amount,payment_y,currency,subid
0,AliExpress WW,1054724026,pending,5/23/2024 13:00,3.56,0.02,USD,tabm
1,AliExpress WW,1054724004,pending,5/23/2024 12:57,46.88,0.35,USD,tabm
2,AliExpress WW,1054721725,pending,5/23/2024 12:05,22.80,0.17,USD,tabm
3,AliExpress WW,1054696607,pending,5/23/2024 9:17,10.72,0.08,USD,tabm
4,Ajio [CPS] IN,1054500157,pending,5/22/2024 13:49,1393.00,58.51,INR,NaN

In [48]:
df_1 = pd.read_csv(r'C:\Users\mk744\Downloads\Data Structure in Python\Data Structure with python\Admitad_xocoupon_Mar_28_24.csv')

In [49]:
df_1.columns

Index(['index', 'id_x', 'order_id', 'tariff_id_x', 'action_id',
       'advcampaign_id', 'advcampaign_name', 'website_name', 'click_user_ip',
       'click_user_referer', 'click_country_code', 'conversion_time', 'action',
       'action_type', 'cart', 'status', 'processed', 'subid', 'subid1',
       'subid2', 'subid3', 'subid4', 'payment_x', 'currency', 'keyword',
       'comment', 'positions', 'paid', 'promocode', 'click_date',
       'action_date', 'closing_date', 'status_updated', 'id_y', 'tariff_id_y',
       'datetime', 'amount', 'payment_y', 'rate', 'rate_id', 'percentage',
       'product_url', 'product_id', 'product_image', 'product_name',
       'product_category_id', 'product_category_name'],
      dtype='object')

In [50]:
select_cols_1 = df_1[['advcampaign_name','id_x','status','datetime',
                      'amount','payment_x','currency','subid'
                      ]]

In [51]:
select_cols_1.head()

,advcampaign_name,id_x,status,datetime,amount,payment_x,currency,subid
0,Ancestry US CA UK AU DE,1040759415,pending,2024-03-28 06:33:00,0.00,0.00,USD,tabm
1,Alibaba WW,1040752910,pending,2024-03-28 06:32:50,22.40,1.60,USD,NaN
2,Alibaba WW,1040752592,pending,2024-03-28 06:32:09,205.00,14.00,USD,NaN
3,Udemy WW,1041430270,pending,2024-03-28 01:23:00,12.99,1.04,USD,tabm
4,Udemy WW,1041430247,pending,2024-03-28 01:23:00,11.99,0.96,USD,tabm

In [52]:
Rename = select_cols_1.rename(columns= {'payment_x':'payment_y'})

In [53]:
Rename

,advcampaign_name,id_x,status,datetime,amount,payment_y,currency,subid
0,Ancestry US CA UK AU DE,1040759415,pending,2024-03-28 06:33:00,0.00,0.00,USD,tabm
1,Alibaba WW,1040752910,pending,2024-03-28 06:32:50,22.40,1.60,USD,NaN
2,Alibaba WW,1040752592,pending,2024-03-28 06:32:09,205.00,14.00,USD,NaN
3,Udemy WW,1041430270,pending,2024-03-28 01:23:00,12.99,1.04,USD,tabm
4,Udemy WW,1041430247,pending,2024-03-28 01:23:00,11.99,0.96,USD,tabm
...,...,...,...,...,...,...,...,...
495,Alibaba WW,1034028538,approved,2024-03-04 07:08:55,1068.00,49.29,USD,NaN
496,Alibaba WW,1034028323,pending,2024-03-04 07:07:41,380.00,27.00,USD,NaN
497,Alibaba WW,1034027756,approved,2024-03-04 07:02:23,115.00,4.42,USD,NaN
498,Alibaba WW,1034027642,declined,2024-03-04 07:01:28,4.00,0.28,USD,NaN
499,Alibaba WW,1034027591,declined,2024-03-04 07:00:49,96.00,6.70,USD,NaN

In [54]:
Rename.shape

(500, 8)

In [55]:
select_cols.shape

(500, 8)

In [56]:
import pandas as pd

# Assuming select_cols and select_cols_1 are your DataFrames
Append_col_1_cols_2 = pd.concat([select_cols, Rename], ignore_index=True)

In [57]:
Append_col_1_cols_2.head()

,advcampaign_name,id_x,status,datetime,amount,payment_y,currency,subid
0,AliExpress WW,1054724026,pending,5/23/2024 13:00,3.56,0.02,USD,tabm
1,AliExpress WW,1054724004,pending,5/23/2024 12:57,46.88,0.35,USD,tabm
2,AliExpress WW,1054721725,pending,5/23/2024 12:05,22.80,0.17,USD,tabm
3,AliExpress WW,1054696607,pending,5/23/2024 9:17,10.72,0.08,USD,tabm
4,Ajio [CPS] IN,1054500157,pending,5/22/2024 13:49,1393.00,58.51,INR,NaN

In [58]:
Append_col_1_cols_2.shape

(1000, 8)

In [59]:
Rename_cols = Append_col_1_cols_2.rename(columns={'advcampaign_name':'Campaign_Name',
                                                  'id_x':'Id', 'status':'Status',
                                                  'datetime':'Date', 'amount':'Amount',
                                                  'payment_y':'Payout', 'currency':'Currency', 'subid':'Sub_Id'
                                                  })

In [60]:
Rename_cols.head()

,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id
0,AliExpress WW,1054724026,pending,5/23/2024 13:00,3.56,0.02,USD,tabm
1,AliExpress WW,1054724004,pending,5/23/2024 12:57,46.88,0.35,USD,tabm
2,AliExpress WW,1054721725,pending,5/23/2024 12:05,22.80,0.17,USD,tabm
3,AliExpress WW,1054696607,pending,5/23/2024 9:17,10.72,0.08,USD,tabm
4,Ajio [CPS] IN,1054500157,pending,5/22/2024 13:49,1393.00,58.51,INR,NaN

In [61]:
df_2 = pd.read_csv(r'C:\Users\mk744\Downloads\Data Structure in Python\Data Structure with python\admitad_xocoupon_3.csv')

In [62]:
df_2.columns

Index(['index', 'id_x', 'order_id', 'tariff_id_x', 'action_id',
       'advcampaign_id', 'advcampaign_name', 'website_name', 'click_user_ip',
       'click_user_referer', 'click_country_code', 'conversion_time', 'action',
       'action_type', 'cart', 'status', 'processed', 'subid', 'subid1',
       'subid2', 'subid3', 'subid4', 'payment_x', 'currency', 'keyword',
       'comment', 'positions', 'paid', 'promocode', 'click_date',
       'action_date', 'closing_date', 'status_updated', 'id_y', 'tariff_id_y',
       'datetime', 'amount', 'payment_y', 'rate', 'rate_id', 'percentage',
       'product_url', 'product_id', 'product_image', 'product_name',
       'product_category_id', 'product_category_name'],
      dtype='object')

In [63]:
Rename_cols_1 = df_2.rename(columns= {'advcampaign_name': 'Campaign_Name',
                                      'id_x': 'Id', 'status':'Status',
                                      'datetime':'Date', 'amount' : 'Amount',
                                      'payment_x':'Payout','currency':'Currency','subid' : 'Sub_Id'
                                      })

In [64]:
select_cols_2 = Rename_cols_1[['Campaign_Name', 'Id', 'Status', 'Date', 'Amount', 'Payout','Currency', 'Sub_Id']]

In [65]:
select_cols_2.head()

,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id
0,Alibaba WW,1034113042,pending,2024-03-04 09:49:47,56.0,3.90,USD,NaN
1,Alibaba WW,1034112886,approved,2024-03-04 09:48:04,35.0,1.34,USD,NaN
2,Alibaba WW,1034112605,declined,2024-03-04 09:47:08,33.0,2.30,USD,NaN
3,Alibaba WW,1034112582,declined,2024-03-04 09:46:59,455.0,32.00,USD,NaN
4,Alibaba WW,1034112463,approved,2024-03-04 09:45:36,183.2,8.45,USD,NaN

In [66]:
select_cols_2.shape

(500, 8)

In [69]:
Append_col_1_cols_2_cols_3 = pd.concat([Rename_cols, select_cols_2], ignore_index=True)

In [70]:
Append_col_1_cols_2_cols_3.shape

(1500, 8)

In [71]:
Append_col_1_cols_2_cols_3.head()

,Campaign_Name,Id,Status,Date,Amount,Payout,Currency,Sub_Id
0,AliExpress WW,1054724026,pending,5/23/2024 13:00,3.56,0.02,USD,tabm
1,AliExpress WW,1054724004,pending,5/23/2024 12:57,46.88,0.35,USD,tabm
2,AliExpress WW,1054721725,pending,5/23/2024 12:05,22.80,0.17,USD,tabm
3,AliExpress WW,1054696607,pending,5/23/2024 9:17,10.72,0.08,USD,tabm
4,Ajio [CPS] IN,1054500157,pending,5/22/2024 13:49,1393.00,58.51,INR,NaN

In [72]:
Append_col_1_cols_2_cols_3.isnull().sum()

Campaign_Name      0
Id                 0
Status             0
Date               0
Amount             0
Payout             0
Currency           0
Sub_Id           578
dtype: int64

In [73]:
Append_col_1_cols_2_cols_3.value_counts()

Campaign_Name    Id          Status    Date                 Amount  Payout  Currency  Sub_Id
Adorama WW       1030227719  approved  2024-02-17 22:23:18  116.04  2.32    EUR       tabm      1
Udemy WW         1041093814  pending   2024-03-25 22:22:00  5.98    0.48    USD       tabm      1
                 1041093938  pending   2024-03-26 00:24:00  6.98    0.56    USD       tabm      1
                 1041272357  pending   2024-03-27 02:22:00  14.76   1.18    USD       tabm      1
                 1041272413  pending   2024-03-26 19:24:00  7.77    0.62    USD       tabm      1
                                                                                               ..
                 1028290357  pending   2024-02-07 21:42:00  13.93   1.12    USD       tabm      1
                 1028290362  pending   2024-02-07 20:58:00  16.12   1.29    USD       tabm      1
                 1028290372  pending   2024-02-07 21:29:00  13.93   1.12    USD       tabm      1
                 1028290373  pending   2024-02-07 22:13:00  3.60    0.28    USD       tabm      1
Vevor Many GEOs  1049615867  pending   5/2/2024 7:19        141.54  7.08    USD       tabm      1
Name: count, Length: 922, dtype: int64

In [74]:
Append_col_1_cols_2_cols_3.to_csv('Admitad_XO_conversion_report_jan_2024-01-01_to_May_2024-05-23.csv', index=False)